.autocomplete {
  position: relative;
}

.fa-magnifying-glass {
  color: #aaa;
}

.autocomplete button:hover {
  background-color: #222;
}

.ac-items {
  position: absolute;
  width: 100%;
  background-color: #000;
  box-shadow: 0 0 1em #222;
  border-radius: 10px;
  max-height: 260px;
  overflow: auto;
}

.ac-items div {
  padding: 5px;
  cursor: default;
}

.ac-items div:not(.spinner-container):hover {
  background-color: #111;
}

.search-warning {
  font-size: 0.8em;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px initial;
}

@media (min-width: 992px) {
  .autocomplete {
    width: 35%;
  }
}
