.autocomplete {
  position: relative;
}

.fa-magnifying-glass {
  color: #aaa;
}

.autocomplete button:hover {
  background-color: #222;
}

.ac-items {
  position: absolute;
  width: 100%;
  background-color: #000;
  box-shadow: 0 0 1em #222;
  border-radius: 10px;
  max-height: 350px;
  overflow: auto;
}

.ac-items div {
  padding: 5px;
  cursor: default;
}

.ac-items div:not(.spinner-container):hover {
  background-color: #111;
}

.ac-items .ac-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ac-items .ac-item .icon {
  aspect-ratio: 639 / 933;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.thumbnail {
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #555;
}

.search-warning {
  font-size: 0.8em;
}

@media (min-width: 992px) {
  .autocomplete {
    width: 40%;
  }
}
