#poster-container {
  border-radius: 10px;
  border: 1px solid #555;
}

#poster-container.icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 639 / 933;
}

#poster {
  width: 100%;
  border-radius: 10px;
}

#basic-data {
  display: flex;
  align-items: center;
}

#basic-data > * {
  width: auto;
}

#year {
  font-weight: 300;
  font-size: 0.9em;
}

.chip {
  margin-right: 10px;
}

.actor .pic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actor img {
  width: 50%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #555;
}

.actor .actor-name,
.actor .actor-role {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.actor .actor-name {
  margin-top: 10px;
}

.actor .actor-role {
  font-size: 0.9em;
  color: #aaa;
}

#tmdb-data i {
  margin-right: 5px;
}

#rating {
  display: flex;
  align-items: center;
  width: auto;
}

#tmdb-link {
  width: auto;
  text-decoration: none;
  color: #aaa;
}

#tmdb-link:hover {
  color: #eee;
}
