main {
  box-shadow: none;
}

.list-card {
  margin-bottom: 40px;
  height: 180px;
  display: flex;
  background-color: #000;
  box-shadow: 0 0 1em #222;
  border-radius: 10px;
  overflow: hidden;
}

.poster img {
  width: 120px;
  overflow: hidden;
}

.poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
}

.details {
  padding: 10px 20px;
}

nav button {
  background-color: #000;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 5px 10px;
}

nav button.disabled {
  cursor: default;
}

nav button .fa-solid {
  color: #ddd;
}

nav button.disabled .fa-solid {
  color: #555;
}
