@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,700&display=swap');

body {
  font-family: 'Noto Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

::selection {
  background-color: #ccc !important;
  color: #000 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spinner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px initial;
}

.hidden {
  display: none !important;
}

nav input {
  background-color: transparent !important;
  border: 1px solid #555 !important;
  outline: none !important;
  color: #eee !important;
}

.nav-link i {
  margin-right: 5px;
}

main {
  box-shadow: 0 0 1em #222;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 90px;
}

main section {
  padding: 20px;
}

section > h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
}

.chips {
  display: flex;
}

.chip {
  padding: 2px 10px;
  margin-right: 5px;
  color: #ccc;
  background-color: #000;
  border: 1px solid #555;
  border-radius: 15px;
  font-size: 0.8em;
  white-space: nowrap;
}

.chip i {
  margin-right: 3px;
}

a.chip {
  text-decoration: none;
  cursor: pointer;
}

a.chip:hover {
  color: #eee;
}

.social-media {
  filter: invert(80%);
}

footer {
  padding: 20px 0;
}

footer .col-3 {
  white-space: nowrap;
}
